.task-exo {
    width: 80vw;
    margin : auto;
    height: 80vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-task {
    width: 40%;
    height: 70%;
    background-color: rgb(198, 219, 215);
    border-radius: 1rem;
}

.task-list {
    width: 50%;
    height: 90%;
    background-color: rgb(198, 219, 215);
    border-radius: 1rem;

}

.task-list h3 {
    height: 5%;

}

.tasks {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: start;
    align-items: center;

    overflow-y: scroll;

}

.task-card {
    width: 90%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0.75rem;
    margin-bottom: 1rem;
}

.task-infos {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    padding: 0.75rem;
}

.task-infos h4 {
    height: 10%;
    margin: 0.75rem 0;
}
.task-infos p {
    height: 90%;
    margin: 0.75rem 0;

}

.task-actions {
    width: 25%;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
}

.error {
    color : darkred;
    font-size: smaller;
}

.urgent {
    background-color: rgb(201, 116, 116);
}

.complete {
    opacity: 45%;
}